<body id="mybodys">
    <!---------- Header ------------->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1 class="mytwo">Grow Your Skill to advance your career </h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores earum error enim, accusantium
                    ipsa voluptatem incidunt aspernatur odio soluta quas!</p>
                <a routerLink="/course" class="btn btn-primary">Get Started</a>
            </div>
            <div class="header__right">
                <div class="header__right-img">
                    <img src="../../assets/s4.svg" alt="">
                </div>
            </div>
        </div>
    </header>

    <!----------End Header --------------->

    <!----------- Categories -------------->

    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1 class="mycolor">Categories</h1>
                <p class="mycolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in inventore nobis
                    doloremque, iure
                    ipsa facere incidunt voluptas modi voluptatum optio illo corporis quaerat voluptate odit iusto
                    eaque. Enim, voluptatum.</p>
                <a class="btn btn-primary">Learn More</a>
            </div>

            <div class="categories__right">
                <article class="category">
                    <span class="category__icon"><i class="ri-bit-coin-fill"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias?</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="ri-bubble-chart-fill"></i></span>
                    <h5>Graphic Design</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias?</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="ri-presentation-fill"></i></span>
                    <h5>Finance</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias?</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="ri-mail-settings-fill"></i></span>
                    <h5>Marketing</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias?</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="ri-music-2-fill"></i></span>
                    <h5>Music</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias?</p>
                </article>

                <article class="category">
                    <span class="category__icon"><i class="ri-building-fill"></i></span>
                    <h5>Business</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias?</p>
                </article>
            </div>
        </div>
    </section>

    <!--------------End Categories ---------------->

    <!--------------Course Section ---------------->
    <section class="courses">
        <h2>Our Populer Courses</h2>
        <div class="container courses__container">
            <article class="course">
                <img src="../../assets/course1.jpg" alt="">
                <div class="course__info">
                    <h4>Responsive Social Media Website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis quisquam sint
                        expedita sit quam. Unde.</p>
                    <a routerLink="/course" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <img src="../../assets/course2.jpg" alt="">
                <div class="course__info">
                    <h4>Responsive Smart Home Website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis quisquam sint
                        expedita sit quam. Unde.</p>
                    <a routerLink="/course" class="btn btn-primary">Learn More</a>
                </div>
            </article>

            <article class="course">
                <img src="../../assets/course3.jpg" alt="">
                <div class="course__info">
                    <h4>Responsive Admin dashboard UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis blanditiis quisquam sint
                        expedita sit quam. Unde.</p>
                    <a routerLink="/course" class="btn btn-primary">Learn More</a>
                </div>
            </article>
        </div>
    </section>

    <!--------------End Course Section ---------------->

    <!--------------FAQs Section---------------->
    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="ri-add-line"></i></div>
                <div class="question__answer">
                    <h4>How do I Know the right course for me?</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque molestiae consectetur,
                        voluptates laborum eaque dignissimos voluptate beatae culpa neque est animi rerum quos eius
                        optio ab sequi! Quasi, iure minus.</p>
                </div>
            </article>
        </div>
    </section>
    <!--------------End FAQs Section---------------->

    <!--------------Testimonial Section---------------->

    <section class="container testimonial__container mySwiper">
        <h2>Student's Testimonials</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../../assets/avatar2.jpg" alt="">
                </div>

                <div class="testimonial__info">
                    <h5>Chris Lynn</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis obcaecati assumenda
                        quidem, facilis earum sit quae maiores eius, labore laboriosam! Quae architecto explicabo
                        voluptatibus assumenda rem? Ea, culpa autem?</p>

                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../../assets/avatar3.jpg" alt="">
                </div>

                <div class="testimonial__info">
                    <h5>Chris Ryan</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis obcaecati assumenda
                        quidem, facilis earum sit quae maiores eius, labore laboriosam! Quae architecto explicabo
                        voluptatibus assumenda rem? Ea, culpa autem?</p>

                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../../assets/avatar4.jpg" alt="">
                </div>

                <div class="testimonial__info">
                    <h5>Lily Sots</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis obcaecati assumenda
                        quidem, facilis earum sit quae maiores eius, labore laboriosam! Quae architecto explicabo
                        voluptatibus assumenda rem? Ea, culpa autem?</p>

                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../../assets/avatar5.jpg" alt="">
                </div>

                <div class="testimonial__info">
                    <h5>Maya Carter</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis obcaecati assumenda
                        quidem, facilis earum sit quae maiores eius, labore laboriosam! Quae architecto explicabo
                        voluptatibus assumenda rem? Ea, culpa autem?</p>

                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../../assets/avatar1.jpg" alt="">
                </div>

                <div class="testimonial__info">
                    <h5>Lora John</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis obcaecati assumenda
                        quidem, facilis earum sit quae maiores eius, labore laboriosam! Quae architecto explicabo
                        voluptatibus assumenda rem? Ea, culpa autem?</p>

                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../../assets/avatar6.jpg" alt="">
                </div>

                <div class="testimonial__info">
                    <h5>Chris Eva</h5>
                    <small>Web Developer</small>
                </div>
                <div class="testimonial__body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis obcaecati assumenda
                        quidem, facilis earum sit quae maiores eius, labore laboriosam! Quae architecto explicabo
                        voluptatibus assumenda rem? Ea, culpa autem?</p>

                </div>
            </article>

        </div>
        <div class="swiper-pagination"></div>
    </section>

    <!--------------End Testimonial Section---------------->





    <!--------------Footer---------------->

    <footer>
        <div class="container footer__container">
            <div class="footer__1">
                <h4>MINDMENTOR</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </div>

            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li routerLink="/"><a>Home</a></li>
                    <li routerLink="/course"><a>Course</a></li>
                    <li routerLink="/about"><a>About</a></li>
                    <li routerLink="/contact"><a>Contact</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Privacy</h4>
                <ul class="privacy">
                    <ul class="nav__menu">
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms and Condition</a></li>
                        <li><a>Refund Policy</a></li>
                    </ul>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Contact Us</h4>
                <div>
                    <p>+91-8989892020</p>
                    <p>E-learning@gmail.com</p>
                </div>
                <ul class="footer__social">
                    <li><a href="https://www.instagram.com/ " target="_blank"><i class="ri-instagram-line"></i></a></li>
                    <li><a href="https://www.facebook.com/ " target="_blank"><i class="ri-facebook-fill"></i></a></li>
                    <li><a href="https://www.youtube.com/ " target="_blank"><i class="ri-youtube-line"></i></a></li>
                    <li><a href="https://in.linkedin.com/ " target="_blank"><i class="ri-linkedin-line"></i></a></li>  
                </ul>
            </div>


        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; MINDMENTOR</small>
        </div>

    </footer>

    <!--------------End Footer---------------->

    <!-- Back to Top -->
    <a href="#" class="btnn btn-primary  back-to-top" id="scroll-up"><i class="ri-arrow-up-line"></i></a>




</body>